.login {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to right,
    #ffff 0%,
    #fff 50%,
    #0b4654 50%,
    #0b4654 100%
  );
}
.random-te {
  font-size: 25px;
}
.margin-all {
  margin-top: 220px;
}
.text {
  font-size: 15px;
}
.privacy {
  margin-top: 145px;
  font-size: 15px;
}
@media (max-width: 425px) {
  body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
      to top,
      #ffffff 0%,
      #fff 50%,
      #0b4654 50%,
      #0b4654 100%
    );
  }
}
